USE [master]
GO
/****** Object:  Database [ComInsDb]    Script Date: 09-03-2026 15:52:06 ******/
CREATE DATABASE [ComInsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComInsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComInsDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComInsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComInsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComInsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComInsDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessProfiles]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessProfiles](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[BusinessName] [nvarchar](100) NOT NULL,
	[Industry] [nvarchar](50) NOT NULL,
	[AnnualRevenue] [decimal](18, 2) NOT NULL,
	[EmployeeCount] [int] NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[IsProfileCompleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_BusinessProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimHistoryLogs]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimHistoryLogs](
	[Id] [nvarchar](450) NOT NULL,
	[ClaimId] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Remarks] [nvarchar](1000) NOT NULL,
	[ChangedByUserId] [nvarchar](450) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClaimHistoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [nvarchar](450) NOT NULL,
	[ClaimNumber] [nvarchar](50) NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ClaimsOfficerId] [nvarchar](450) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyId] [nvarchar](450) NULL,
	[ClaimId] [nvarchar](450) NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceTypes]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceTypes](
	[Id] [nvarchar](450) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InsuranceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RelatedEntityId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyId] [nvarchar](450) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TransactionId] [nvarchar](100) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[InstallmentNumber] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](max) NOT NULL,
	[PaidByUserId] [nvarchar](450) NULL,
	[PaymentFrequency] [nvarchar](max) NOT NULL,
	[PaymentMode] [nvarchar](max) NOT NULL,
	[TotalInstallments] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[Id] [nvarchar](450) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[MinCoverageAmount] [decimal](18, 2) NOT NULL,
	[MaxCoverageAmount] [decimal](18, 2) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[DurationInMonths] [int] NOT NULL,
	[InsuranceTypeId] [nvarchar](450) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [nvarchar](450) NOT NULL,
	[PolicyNumber] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PlanId] [nvarchar](450) NOT NULL,
	[BusinessProfileId] [nvarchar](450) NULL,
	[AgentId] [nvarchar](450) NULL,
	[CreatedByUserId] [nvarchar](450) NOT NULL,
	[SelectedCoverageAmount] [decimal](18, 2) NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[CommissionAmount] [decimal](18, 2) NOT NULL,
	[CommissionStatus] [nvarchar](20) NOT NULL,
	[AutoRenew] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PaymentFrequency] [nvarchar](max) NOT NULL,
	[IsRenewal] [bit] NOT NULL,
	[PreviousPolicyId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportInquiries]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportInquiries](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsResolved] [bit] NOT NULL,
 CONSTRAINT [PK_SupportInquiries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-03-2026 15:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AssignedAgentId] [nvarchar](450) NULL,
	[AssignedClaimsOfficerId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260228061805_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260228092222_UserAssignments', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260228141545_documents', N'8.0.0')
GO
INSERT [dbo].[BusinessProfiles] ([Id], [UserId], [BusinessName], [Industry], [AnnualRevenue], [EmployeeCount], [City], [IsProfileCompleted], [CreatedAt], [UpdatedAt]) VALUES (N'bpro1', N'cust1', N'Graphics Solutions', N'Technology', CAST(5600000.00 AS Decimal(18, 2)), 2500, N'Hyderabad', 1, CAST(N'2026-03-02T12:28:30.3093877' AS DateTime2), NULL)
INSERT [dbo].[BusinessProfiles] ([Id], [UserId], [BusinessName], [Industry], [AnnualRevenue], [EmployeeCount], [City], [IsProfileCompleted], [CreatedAt], [UpdatedAt]) VALUES (N'bpro2', N'cust1', N'Ultra Builders', N'Construction', CAST(6000000.00 AS Decimal(18, 2)), 300, N'Mumbai', 1, CAST(N'2026-03-04T07:09:43.4271738' AS DateTime2), NULL)
INSERT [dbo].[BusinessProfiles] ([Id], [UserId], [BusinessName], [Industry], [AnnualRevenue], [EmployeeCount], [City], [IsProfileCompleted], [CreatedAt], [UpdatedAt]) VALUES (N'bpro3', N'cust1', N'Aisha Hospitals', N'Healthcare', CAST(8000000.00 AS Decimal(18, 2)), 500, N'Chennai', 1, CAST(N'2026-03-04T09:05:15.4298573' AS DateTime2), NULL)
GO
INSERT [dbo].[ClaimHistoryLogs] ([Id], [ClaimId], [Status], [Remarks], [ChangedByUserId], [ChangedAt]) VALUES (N'clog1', N'clm1', N'Submitted', N'Claim filed with supporting documents.', N'cust1', CAST(N'2026-03-03T08:57:16.1156339' AS DateTime2))
INSERT [dbo].[ClaimHistoryLogs] ([Id], [ClaimId], [Status], [Remarks], [ChangedByUserId], [ChangedAt]) VALUES (N'clog2', N'clm1', N'Settled', N'Claim verified and settled.', N'usr2', CAST(N'2026-03-03T08:57:42.9646727' AS DateTime2))
INSERT [dbo].[ClaimHistoryLogs] ([Id], [ClaimId], [Status], [Remarks], [ChangedByUserId], [ChangedAt]) VALUES (N'clog3', N'clm2', N'Submitted', N'Claim filed with supporting documents.', N'cust1', CAST(N'2026-03-04T09:10:11.4279937' AS DateTime2))
GO
INSERT [dbo].[Claims] ([Id], [ClaimNumber], [PolicyId], [Description], [ClaimAmount], [Status], [ClaimsOfficerId], [CreatedAt], [ResolvedAt]) VALUES (N'clm1', N'CLM-20260303-77FD279F', N'22562691-a2bd-47ac-986b-f8de64ff7f51', N'qwertyujjhbgfnjkk', CAST(300000.00 AS Decimal(18, 2)), N'Settled', N'usr2', CAST(N'2026-03-03T08:57:16.0471686' AS DateTime2), CAST(N'2026-03-03T08:57:42.9506096' AS DateTime2))
INSERT [dbo].[Claims] ([Id], [ClaimNumber], [PolicyId], [Description], [ClaimAmount], [Status], [ClaimsOfficerId], [CreatedAt], [ResolvedAt]) VALUES (N'clm2', N'CLM-20260304-63C1CC99', N'5851b430-b317-4ca6-846a-bd5788d2de80', N'qwertyuiopbb', CAST(50000.00 AS Decimal(18, 2)), N'Rejected', N'usr2', CAST(N'2026-03-04T09:10:11.3398917' AS DateTime2), CAST(N'2026-03-04T09:12:00.7470418' AS DateTime2))
GO
INSERT [dbo].[Documents] ([Id], [PolicyId], [ClaimId], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (N'06ac0ce5-29cf-4076-8893-264180120482', N'5851b430-b317-4ca6-846a-bd5788d2de80', NULL, N'efg.pdf', N'/uploads/cust1/policies/5851b430-b317-4ca6-846a-bd5788d2de80/efg.pdf', N'application/pdf', 238530, CAST(N'2026-03-04T09:06:02.2614808' AS DateTime2))
INSERT [dbo].[Documents] ([Id], [PolicyId], [ClaimId], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (N'512d0007-fb05-4076-9d7b-689697919b74', N'f2523045-3da3-46cf-bad2-43188bb9659f', NULL, N'efg.pdf', N'/uploads/cust1/policies/f2523045-3da3-46cf-bad2-43188bb9659f/efg.pdf', N'application/pdf', 238530, CAST(N'2026-03-04T11:34:02.1761821' AS DateTime2))
INSERT [dbo].[Documents] ([Id], [PolicyId], [ClaimId], [FileName], [FilePath], [FileType], [FileSize], [UploadedAt]) VALUES (N'6a415680-ab2b-4323-b9e8-03985e7ce080', N'4af9bf77-47e1-48f6-b10d-61b98cc713e7', NULL, N'efg.pdf', N'/uploads/cust1/policies/4af9bf77-47e1-48f6-b10d-61b98cc713e7/efg.pdf', N'application/pdf', 238530, CAST(N'2026-03-03T03:05:08.4723844' AS DateTime2))
GO
INSERT [dbo].[InsuranceTypes] ([Id], [TypeName], [Description], [IsActive], [CreatedAt]) VALUES (N'typ_auto', N'Auto Insurance', N'Insurance coverage for commercial vehicles, protecting against accidents and liability.', 1, CAST(N'2026-03-02T12:22:43.6450536' AS DateTime2))
INSERT [dbo].[InsuranceTypes] ([Id], [TypeName], [Description], [IsActive], [CreatedAt]) VALUES (N'typ_bus_int', N'Business Interruption Insurance', N'Protects business income during unexpected disruptions and disaster recovery.', 1, CAST(N'2026-03-02T12:22:43.6450576' AS DateTime2))
INSERT [dbo].[InsuranceTypes] ([Id], [TypeName], [Description], [IsActive], [CreatedAt]) VALUES (N'typ_gen_liab', N'General Liability Insurance', N'Protects against lawsuits and other claims arising from your general operations.', 1, CAST(N'2026-03-02T12:22:43.6447304' AS DateTime2))
GO
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [RelatedEntityId]) VALUES (N'0264cb88-a800-43c4-bd52-3ebf377c3464', N'usr1', N'New Policy Request', N'A new policy request PRQ-20260304-355D1044 has been submitted and assigned to you.', N'Policy', 0, CAST(N'2026-03-04T09:06:02.1546575' AS DateTime2), N'5851b430-b317-4ca6-846a-bd5788d2de80')
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [RelatedEntityId]) VALUES (N'05e0600b-eae0-4a1a-bebf-564dcd6df218', N'usr1', N'New Policy Request', N'A new policy request PRQ-20260304-3FAB83BD has been submitted and assigned to you.', N'Policy', 0, CAST(N'2026-03-04T11:34:02.0752551' AS DateTime2), N'f2523045-3da3-46cf-bad2-43188bb9659f')
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [RelatedEntityId]) VALUES (N'0df0fe5f-338f-4429-8cc8-f6c32cf99199', N'cust1', N'Payment Successful', N'Payment of ₹ 208.33 for policy POL-E8B3F8E7 has been successfully processed.', N'Payment', 1, CAST(N'2026-03-02T20:16:10.3898078' AS DateTime2), N'8a182509-813b-4437-901f-8acb29724410')
GO
INSERT [dbo].[Payments] ([Id], [PolicyId], [Amount], [PaymentDate], [Status], [TransactionId], [DueDate], [InstallmentNumber], [InvoiceNumber], [PaidByUserId], [PaymentFrequency], [PaymentMode], [TotalInstallments]) VALUES (N'103c9b4f-e26b-4940-b37e-4dd7e942e533', N'5851b430-b317-4ca6-846a-bd5788d2de80', CAST(12500.00 AS Decimal(18, 2)), CAST(N'2026-03-04T09:08:44.5233961' AS DateTime2), N'Pending', N'', CAST(N'2026-06-04T09:08:44.4336933' AS DateTime2), 2, N'INV-2026-9D408', N'cust1', N'Quarterly', N'NetBanking', 4)
INSERT [dbo].[Payments] ([Id], [PolicyId], [Amount], [PaymentDate], [Status], [TransactionId], [DueDate], [InstallmentNumber], [InvoiceNumber], [PaidByUserId], [PaymentFrequency], [PaymentMode], [TotalInstallments]) VALUES (N'195f047b-8942-4f5e-b64e-212200815ab5', N'22562691-a2bd-47ac-986b-f8de64ff7f51', CAST(2083.33 AS Decimal(18, 2)), CAST(N'2026-03-03T05:27:43.5121299' AS DateTime2), N'Pending', N'', CAST(N'2027-01-03T05:27:43.4604638' AS DateTime2), 11, N'INV-2026-48CE6', N'cust1', N'Monthly', N'CreditCard', 12)
INSERT [dbo].[Payments] ([Id], [PolicyId], [Amount], [PaymentDate], [Status], [TransactionId], [DueDate], [InstallmentNumber], [InvoiceNumber], [PaidByUserId], [PaymentFrequency], [PaymentMode], [TotalInstallments]) VALUES (N'270cc661-11a2-4b49-ac89-5c915f72ee15', N'22562691-a2bd-47ac-986b-f8de64ff7f51', CAST(2083.33 AS Decimal(18, 2)), CAST(N'2026-03-03T05:27:43.5172531' AS DateTime2), N'Pending', N'', CAST(N'2027-02-03T05:27:43.4604638' AS DateTime2), 12, N'INV-2026-6CFA0', N'cust1', N'Monthly', N'CreditCard', 12)
GO
INSERT [dbo].[Plans] ([Id], [PlanName], [Description], [MinCoverageAmount], [MaxCoverageAmount], [BasePremium], [DurationInMonths], [InsuranceTypeId], [IsActive], [CreatedAt]) VALUES (N'pln_au_bas', N'Basic Auto', N'Liability only for essential commercial vehicles.', CAST(100000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 12, N'typ_auto', 1, CAST(N'2026-03-02T12:22:43.6450544' AS DateTime2))
INSERT [dbo].[Plans] ([Id], [PlanName], [Description], [MinCoverageAmount], [MaxCoverageAmount], [BasePremium], [DurationInMonths], [InsuranceTypeId], [IsActive], [CreatedAt]) VALUES (N'pln_au_comp', N'Comprehensive Auto', N'Full coverage including collision for standard fleets.', CAST(500000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(12000.00 AS Decimal(18, 2)), 12, N'typ_auto', 1, CAST(N'2026-03-02T12:22:43.6450550' AS DateTime2))
INSERT [dbo].[Plans] ([Id], [PlanName], [Description], [MinCoverageAmount], [MaxCoverageAmount], [BasePremium], [DurationInMonths], [InsuranceTypeId], [IsActive], [CreatedAt]) VALUES (N'pln_au_prm', N'Premium Fleet Shield', N'Extensive coverage for large vehicle operations and heavy transport.', CAST(1000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(28000.00 AS Decimal(18, 2)), 12, N'typ_auto', 1, CAST(N'2026-03-02T12:22:43.6450554' AS DateTime2))
GO
INSERT [dbo].[SupportInquiries] ([Id], [FullName], [Email], [Message], [CreatedAt], [IsResolved]) VALUES (N'564b794b-0533-4b87-8a97-7444ec48cea1', N'rithwika', N'rithwikanagula@gmail.com', N'sndwlecweec', CAST(N'2026-03-03T05:13:52.2343488' AS DateTime2), 1)
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [AssignedAgentId], [AssignedClaimsOfficerId]) VALUES (N'adm1', N'System Admin', N'admin@insurance.com', N'$2a$11$.0voruDhXzDINbcHVAHASu0zTMpkds0TbItESaw4qdYtoZX9uQ7Zq', N'Admin', CAST(N'2026-03-02T12:22:42.6147407' AS DateTime2), NULL, NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [AssignedAgentId], [AssignedClaimsOfficerId]) VALUES (N'cust1', N'Nagula Rithwika', N'rithwika@gmail.com', N'$2a$11$bCY5EUmjObU42obgB5jbLOcsHMuZXFtzY6QQBdEihTsPKY0/xCaYu', N'Customer', CAST(N'2026-03-02T12:27:32.5662350' AS DateTime2), N'usr1', N'usr2')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [AssignedAgentId], [AssignedClaimsOfficerId]) VALUES (N'cust2', N'varshitha', N'varshitha@gmail.com', N'$2a$11$4BTrqzORFK/cfEcbBMLPNOB3.FYikv61uT1REDOZuwxoXALJ2fjLK', N'Customer', CAST(N'2026-03-02T15:41:10.4946332' AS DateTime2), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BusinessProfiles_UserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_BusinessProfiles_UserId] ON [dbo].[BusinessProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClaimHistoryLogs_ChangedByUserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_ClaimHistoryLogs_ChangedByUserId] ON [dbo].[ClaimHistoryLogs]
(
	[ChangedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClaimHistoryLogs_ClaimId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_ClaimHistoryLogs_ClaimId] ON [dbo].[ClaimHistoryLogs]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Claims_ClaimNumber]    Script Date: 09-03-2026 15:52:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Claims_ClaimNumber] ON [dbo].[Claims]
(
	[ClaimNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Claims_ClaimsOfficerId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ClaimsOfficerId] ON [dbo].[Claims]
(
	[ClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Claims_PolicyId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyId] ON [dbo].[Claims]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_ClaimId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_ClaimId] ON [dbo].[Documents]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_PolicyId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_PolicyId] ON [dbo].[Documents]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InsuranceTypes_TypeName]    Script Date: 09-03-2026 15:52:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InsuranceTypes_TypeName] ON [dbo].[InsuranceTypes]
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_PaidByUserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PaidByUserId] ON [dbo].[Payments]
(
	[PaidByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_PolicyId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyId] ON [dbo].[Payments]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Plans_InsuranceTypeId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Plans_InsuranceTypeId] ON [dbo].[Plans]
(
	[InsuranceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_AgentId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_AgentId] ON [dbo].[Policies]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_BusinessProfileId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_BusinessProfileId] ON [dbo].[Policies]
(
	[BusinessProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_CreatedByUserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_CreatedByUserId] ON [dbo].[Policies]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_PlanId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_PlanId] ON [dbo].[Policies]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_PolicyNumber]    Script Date: 09-03-2026 15:52:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Policies_PolicyNumber] ON [dbo].[Policies]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_PreviousPolicyId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_PreviousPolicyId] ON [dbo].[Policies]
(
	[PreviousPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Policies_UserId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Policies_UserId] ON [dbo].[Policies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_AssignedAgentId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Users_AssignedAgentId] ON [dbo].[Users]
(
	[AssignedAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_AssignedClaimsOfficerId]    Script Date: 09-03-2026 15:52:07 ******/
CREATE NONCLUSTERED INDEX [IX_Users_AssignedClaimsOfficerId] ON [dbo].[Users]
(
	[AssignedClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 09-03-2026 15:52:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DueDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [InstallmentNumber]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [InvoiceNumber]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [PaymentFrequency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [PaymentMode]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [TotalInstallments]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT (N'') FOR [PaymentFrequency]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRenewal]
GO
ALTER TABLE [dbo].[BusinessProfiles]  WITH CHECK ADD  CONSTRAINT [FK_BusinessProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessProfiles] CHECK CONSTRAINT [FK_BusinessProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[ClaimHistoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistoryLogs_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
GO
ALTER TABLE [dbo].[ClaimHistoryLogs] CHECK CONSTRAINT [FK_ClaimHistoryLogs_Claims_ClaimId]
GO
ALTER TABLE [dbo].[ClaimHistoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_ClaimHistoryLogs_Users_ChangedByUserId] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ClaimHistoryLogs] CHECK CONSTRAINT [FK_ClaimHistoryLogs_Users_ChangedByUserId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_ClaimsOfficerId] FOREIGN KEY([ClaimsOfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_ClaimsOfficerId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Claims_ClaimId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_PaidByUserId] FOREIGN KEY([PaidByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_PaidByUserId]
GO
ALTER TABLE [dbo].[Plans]  WITH CHECK ADD  CONSTRAINT [FK_Plans_InsuranceTypes_InsuranceTypeId] FOREIGN KEY([InsuranceTypeId])
REFERENCES [dbo].[InsuranceTypes] ([Id])
GO
ALTER TABLE [dbo].[Plans] CHECK CONSTRAINT [FK_Plans_InsuranceTypes_InsuranceTypeId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_BusinessProfiles_BusinessProfileId] FOREIGN KEY([BusinessProfileId])
REFERENCES [dbo].[BusinessProfiles] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_BusinessProfiles_BusinessProfileId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Plans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Plans_PlanId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Policies_PreviousPolicyId] FOREIGN KEY([PreviousPolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Policies_PreviousPolicyId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_AgentId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_AssignedClaimsOfficerId] FOREIGN KEY([AssignedClaimsOfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_AssignedClaimsOfficerId]
GO
USE [master]
GO
