@media print {
      body * {
        visibility: hidden;
      }
      .max-w-3xl, .max-w-3xl * {
        visibility: visible;
      }
      .max-w-3xl {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .grid {
        display: flex !important;
        justify-content: space-between !important;
      }
      .text-right { text-align: right; }
    }
